body {
  font-size: 16px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  background-color: #A5461A;
  display: flex;
}
html, body, main {
 height: 100%;
}
main {
  align-self: center;
}

header, footer {
 flex-basis: 100%;
}
body {
  flex-wrap: wrap;
  align-items: space-between;
}
