body {
  font-size: 16px;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  display: flex;
}
html, body, main {
 height: 100%;
}
main {
  align-self: center;
  background-color: #A5461A;
}

header{
  background-color: #CF6323;
}

footer {
  background-color: #E58262;
}

header, footer {
 flex-basis: 100%;
}
